.calendar_table {
    width:100%;
    height: calc(100vh -128px);
    margin-bottom: 30px;

}

.calendar_table td {
    padding :10px;
    border: 1px solid #CCC;
    width: 100px;
    height: 100px;
}

.calendar_table-6weeks td {
    height :16.66%;
}

.calendar_weekday{
    font-weight : bold;
    color : #000;
    font-size : 1.2em;
}

.calendar_day {
    font-size :1.3em;
}

.calendar_othermonth .calendar_day {
    opacity :0.3;
}

#add-btn:hover{
    background-color: #FB8B24;
    border-color: #FB8B24;
    color :white;
}
